<!doctype html>
html
  <head>
    <title>YSmash Graphs Demo</title>
    <script src="ysmash.min.js"></script>
    link(rel='stylesheet' href='/style.css')
  </head>

  body
    div
      <h1>Y-Smash Data Demo</h1>
      <canvas id="canvas"></canvas>

      p.
        The data here is randomly generated, and the style is awful, but I threw
        it together (literally in half an hour) as a quick sample of how we could
        visualise some of the data from the league.

      p
        <button id="randomizeData">Load Next Player</button>
      p.
        (This button pretends to be loading a new player's data, but it's
        really just randomizing the graph again.)
