<!doctype html>
html
  head
    Title YSmash Graphs Demo
    link(rel='stylesheet' href='./style.css')
    script(src='./ysmash.min.js')
    script(src='./stats.js')

  body
    #header
      h1 Y-Smash Graphs
      span#splice (Powered by SpliceStats&trade;)
      #seasonSelector
        p Looking at season:
          select#season
            option(value='f2016') Fall 2016
            option(value='w2016') Winter 2016
            option(value='f2015') Fall 2015
            option(value='w2015') Winter 2015
    #sidebar
      h3 Stats
      ul#stats
        li Select a season
      h3 Players
      ul#players
        li Select a season
    #chart
