<!doctype html>
html
  head
    Title YSmash Graphs Demo
    link(rel='stylesheet' href='./style.css')
    script(src='./ysmash.min.js')
    // Using http://realfavicongenerator.net/
    | <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    | <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    | <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    | <link rel="manifest" href="/manifest.json">
    | <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#282e3e">
    | <meta name="theme-color" content="#ffffff">

  body
    #header
      h1 Y-Smash Graphs
      span#splice (Powered by SpliceStats&trade;)
      #seasonSelector
        p Looking at season:
          select#season
    #sidebar
      h3 Stats
      ul#stats
        li Select a season
      h3 Top Players
      ul#players
        li Select a season
    #chart
