<!doctype html>
html
  head
    Title YSmash Graphs Demo
    link(rel='stylesheet' href='./style.css')
    script(src='./ysmash.min.js')
    script(src='./stats.js')

  body
    #header
      h1 Y-Smash Graphs
      span#splice (Powered by SpliceStats&trade;)
      #seasonSelector
        p Looking at season:
          select#season
    #sidebar
      h3 Stats
      ul#stats
        li Select a season
      h3 Top Players
      ul#players
        li Select a season
    #chart
