<!doctype html>
html
  head
    Title YSmash Graphs Demo
    link(rel='stylesheet' href='/style.css')
    script(src='/ysmash.min.js')
    script(src='/stats.js')

  body
    #header
      h1 Y-Smash Graphs
      span#splice (Powered by SpliceStats&trade;)
      #seasonSelector
        p Looking at season:
          select#season
            option(value='f2016') Fall 2016
            option(value='w2016') Winter 2016
    #sidebar
      h3 Stats
      ul#stats
        li Select a season
      h3 Players
      ul#players
        li Select a season
    #chart
      #canvasContainer

      p.
        The data here is randomly generated, and the style is awful, but I threw
        it together (literally in half an hour) as a quick sample of how we could
        visualise some of the data from the league.

      p
        button#randomizeData Load Next Player
      p.
        (This button pretends to be loading a new player's data, but it's
        really just randomizing the graph again.)
